*:not(input) {
    user-select: none;
    -webkit-user-select: none;
}
/* body */
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgb(17,97,98) 220px,
        rgb(9,14,17) 0
    );
    color: rgba(255,255,255,.9);
}
svg path:first-child {
    fill: rgb(130, 134, 137);
}
/* app */
.frame {
    max-width: 1400px;
    height: calc(100% - 30px);
    background: rgb(19,28,33);
}
@media screen and (max-width: 1440px) {
    .frame {
        max-width: 1440px;
        height: 100%;
    }
}
.header {
    height: 60px;
    background: rgb(42,47,50);
}
.header svg path:first-child {
    fill: rgb(177, 179, 181);
}
.header-icons .icon {
    cursor: pointer;
    transition: background-color .3s;
}
.header-icons .icon:active {
    background-color: rgb(64,68,71);
}
.avatar {
    overflow: hidden;
    border: 1px solid #fff2;
    cursor: pointer;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.circle-big {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
/* left col */
.main-col {
    flex: 3;
    min-width: 300px;
    border-right: 1px solid #fff2;
}
/* notifications alert */
.notify-alert {
    height: 90px;
    background: rgb(20,83,115);
    cursor: pointer;
}
.notify-alert.active {
    display: none;
}
.notify-alert .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.notify-alert .icon  svg path:first-child {
    fill: rgb(177, 179, 181);
}
.notify-alert .alert-text h3 {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: .4rem;
}
.notify-alert .alert-text a {
    font-weight: 100;
    font-size: .9rem;
    color: rgba(255,255,255,.9);
}
.notify-alert .alert-text a:hover {
    text-decoration: underline;
}
.notify-alert .alert-text i {
    margin-left: .2rem;
    font-size: .6rem;
}
/* searchbar */
.search-bar {
    height: 50px;
    border-bottom: 1px solid #fff2;
}
.search-bar .search-area {
    height: 36px;
    border-radius: 18px;
    background: rgb(50,55,57);
}
.search-bar .icon {
    cursor: pointer;
}
.search-bar .search-icon svg path:first-child {
    fill: rgb(130, 134, 137);
}
.search-bar .back-icon i {
    color: rgb(130, 134, 137);
}
.search-bar .search-area input {
    outline: none;
    background: none;
    border: none;
    font-size: .9rem;
    font-weight: 100;
    color: rgba(255,255,255,.9);
    margin-left: 1.5rem;
}
.search-bar .search-area input::placeholder {
    color: rgb(130, 134, 137);
}
/* chat list */
.no-results {
    margin-top: 5rem;
    color: rgba(255,255,255,.6);
    font-weight: 100;
    font-size: .9rem;
}
.chat-list {
    flex: 1;
    overflow-y: scroll;
}
.chat-preview {
    height: 70px;
    cursor: pointer;
}
.chat-preview.hide {
    display: none;
}
.chat-preview .avatar {
    min-width: 48px;
}
.chat-preview .chat-info {
    flex: 1;
    border-bottom: 1px solid #fff2;
}
.chat-preview .chat-info .chat-info-top,
.chat-preview .chat-info .chat-info-bottom {
    margin: .2em 0;
}
.chat-preview .chat-info .chat-info-top h4 {
    font-size: 1rem;
    font-weight: 100;
}
.chat-preview .chat-info .chat-info-bottom h5 {
    font-size: .8rem;
    font-weight: 100;
    color: rgba(255,255,255,.6);
    white-space: nowrap; 
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis; 
    
}
.chat-preview:hover {
    background: rgb(45,49,52);
}
.chat-info .last-msg-time {
    color: rgba(255,255,255,.6);
    font-weight: 100;
    font-size: .8rem;
}
.chat-info .icons {
    width: 50px;
    height: 20px;
    overflow: hidden;
}
.chat-info .menu-icon {
    color: rgb(130, 134, 137);
    right: -25px;
    transition: right .1s;
}
.chat-info .mute-icon {
    right: 0;
    transition: right .1s;
}
.chat-preview:hover .menu-icon {
    right: 0px;
}
.chat-preview:hover .mute-icon {
    right: 20px;
}
/* right col */
.chat-col {
    flex: 7;
}
/* landing page */
.landing-page {
    background: rgb(34,47,54);
}
.landing-content {
    align-items: center;
    max-width: 550px;
    overflow-y: auto;
}
.landing-page .landing-image {
    width: 350px;
}
.landing-page h2 {
    font-weight: 100;
    font-size: 2rem;
    cursor: default;
}
.landing-page p {
    font-weight: 100;
    font-size: .9rem;
    line-height: 1.5rem;
    color: rgba(255,255,255,.6);
    cursor: default;
}
.landing-page .landing-content>p {
    border-bottom: 1px solid #fff2;
}
.landing-page a {
    color: rgb(35,175,156);
}
.landing-page .bottom-bar {
    min-height: 5px;
    background: rgb(17,97,98);
}
/* chat page */
/* chat header */
.chat-header .user-info h4 {
    font-size: 1rem;
    font-weight: 100;
    margin: .2em 0;
}
.chat-header .user-info h5 {
    font-size: .8rem;
    font-weight: 100;
    color: rgba(255,255,255,.6);
    margin: .2em 0;
}
.chat-header .user-info {
    flex: 1;
    cursor: pointer;
}
/* chat messages */
.chat-body {
    background: rgb(13,20,24);
    flex: 1;
}
.chat-body .chat-background {
    background-image: url(../img/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png);
    background-repeat: repeat;
    background-size: 400px;
    opacity: .07;
}
/* chat input */
.chat-footer {
    height: 60px;
}